.header {
    background: var(--color-white) url('/public/images/amanda.jpg');
    background-size: cover;
    background-position: center right;
    color: var(--color-dark);
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: var(--font-xl);
    line-height: 1;
}

.header h2 {
    color: var(--color-secondary);
    font-size: var(--font-mdlg);
    margin-bottom: var(--space-rg);
    letter-spacing: 5px;
    text-transform: uppercase;
}

header p {
    margin-bottom: var(--space-rg);
}

header a {
    font-size: var(--font-mdlg);
}

@media (min-width: 768px) {
    .content {
        max-width: 500px;
        margin-left: auto;
    }
}
