.mainNav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.mainNav nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.mainNav a {
    text-transform: uppercase;
    padding: 1rem;
    color: var(--color-dark);
}

@media (min-width: 992px) {
    .mainNav nav {
        flex-direction: row;
    }
}